<%- include('../includes/head.ejs') %>
  <style>
    body{
      background-color: #f9f7f4;
    }
  </style>
</head>

<%- include('../includes/studentNav.ejs') %>
<% // begin varaiable
let classroom = data.classroom;
let accounts = data.classroom.accounts; %>
<main>
  <div class="container">
    <br>
    <br>

    <h1 class="display-4">
      <%= classroom.name %>
    </h1>
    <br>

    <table class="table table-hover">
      <thead class="thead" style="background-color: #acb2c7">
        <tr>
          <th scope="col">
            No.
          </th>

          <th scope="col">
            Username/Email
          </th>

          <th scope="col">
            Position
          </th>

          <th scope="col">
            Full Name
          </th>

          <th scope="col">
            Gender
          </th>

          <th scope="col">
            Dob
          </th>

          <th scope="col">
            Mobile
          </th>

          <th scope="col">
            Address
          </th>
        </tr>
      </thead>

      <tbody>
        <% let no = 1; %>
          <% for(let account of accounts) { 
            let info = account.info_account; %>
            <tr>
              <td>
                <%= no %>
              </td>

              <td>
                <%= account.username %>
              </td>

              <td>
                <%= account.role.name %>
              </td>
              
              <% if(info){ %>
                <td>
                  <%= info.full_name ? info.full_name : 'No Infomation' %>
                </td>
                
                <td>
                  <% switch(info.gender){ 
                    case 1: %>
                      <%= 'Male' %>
                      <% break; %>
                    <% case 2: %>
                      <%= 'Female' %>
                      <% break; %>
                    <% default: %>
                      <%= 'Other' %>
                      <% break; %>
                  <% } %>
                </td>
                
                <td>
                  <%= info.dob ? info.dob : 'No Infomation' %>
                </td>
                
                <td>
                  <%= info.mobile ? info.mobile : 'No Infomation' %>
                </td>
                
                <td>
                  <%= info.address ? info.address : 'No Infomation' %>
                </td>
              <% } else { %>
                <td>No Infomation</td>

                <td>No Infomation</td>

                <td>No Infomation</td>

                <td>No Infomation</td>

                <td>No Infomation</td>
              <% } %>
            </tr>
          <% no++; %>
        <% } %>
      </tbody>
    </table>
    <br>
  </div>

</main>
<%- include('../includes/end.ejs') %>