<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/index_student.css">
</head>

<%- include('../includes/studentNav.ejs') %>
<main>
  <!-- To do List -->
  <div class="page todolist" aria-disabled="true" id="todolist_page">
    <div>
      <!-- title -->
      <div class="head">
        <h1>My Todo List</h1>

        <p id="count_todolist"></p>

      </div>
      <br>

      <div class="body">
        <!-- search and box -->
        <div class="search">
          <input type="search" class="form-control" id="inp_search" placeholder="Type to search" maxlength="100">
          <div class="btn-group" id="btn_group">
            <button class="btn btn-outline-primary btn__group active" id="btn_all">All</button>
            <button class="btn btn-outline-primary btn__group" id="btn_active">Active</button>
            <button class="btn btn-outline-primary btn__group" id="btn_done">Done</button>
          </div>
        </div>
        
        <%- include('../includes/error.ejs') %>

        <!-- list item -->
        <div class="list" id="list_item">
          <% if(data.tasks.length == 0){ %>
            <div class="list_item" id="item">
              <p class="list_item-name">
                Don't have a task! Add a new task!
              </p>
            </div>
          <% } else { %>
            <% for(let task of data.tasks) { %>
              <div class="list_item <%= task.status == 0 ? 'complete' : 'active' %>">
                <p class="list_item-name">
                  <%= task.name %>
                </p>
    
                <div class="list_item-btn">
                  <% if(task.status == 1){ %>
                    <a class="btn btn-success" href="/student/todolist/complete?taskId=<%= task.id %>">
                      Complete
                    </a>
                  
                  <% } else { %>
                    <button id="btn-complete" class="btn btn-success" disabled>
                      Complete
                    </button>
                  <% } %>
    
                  <a class="btn btn-danger" href="/student/todolist/delete?taskId=<%= task.id %>">
                    Delete
                  </a>
                  
                </div>
                
              </div>
            <% } %>
          <% } %>
        </div>
        <br>
        
        <!-- add task -->
        <form action="/student/todolist/add" method="POST">
          <div class="task">
            <input type="text" class="form-control" name="task" id="task" placeholder="What needs to do be done(255 characters)" required maxlength="255">

            <button class="btn btn-outline-info">Add Task</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<script src="/js/student_todolist.js"></script>
<%- include('../includes/end.ejs') %>