<%- include('../../includes/head.ejs') %>
<style>
  body {
    background-color: #f9f7f4;
  }
</style>
</head>

<%- include('../../includes/adminNav.ejs') %>
<% // begin varaiable
let classroom = data.classroom; 
accounts = classroom.accounts; %>
<main>
  <div class="container">
    <br>
    <br>
    <div>
      <h1 class="display-4">
        <%= classroom.name %>
      </h1>
    </div>
    <br>

    <div>
      <a class="btn btn-dark" href="/admin/classroom/add_student">
        <i class="bi bi-plus"></i>
        Add Student
      </a>
    </div>
    <br>

    <%- include('../../includes/error.ejs') %>

    <table class="table table-hover">
      <thead class="thead" style="background-color: #acb2c7">
        <!-- column -->
        <tr>
          <%- include('../partials/table-basic_column-account.ejs') %>

          <th scope="col">&nbsp;</th>

          <th scope="col">&nbsp;</th>

          <th scope="col">&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% no = 1; %>
        <% for(account of accounts) { 
          info = account.info_account; %>

        <tr>
          <%- include('../partials/table-basic_row-account.ejs') %>

          <td>
            <a class="btn btn-outline-info" href="/admin/account/show?accountId=<%= account.id %>">
              Details
            </a>
          </td>

          <td>
            <a class="btn btn-outline-primary" href="/admin/account/edit?accountId=<%= account.id %>">
              Edit
            </a>
          </td>

          <td>
            <form action="/admin/account/active?accountId=<%= account.id %>" method="post">
              <button class="btn btn-outline-success" type="submit">
                Remove
              </button>
            </form>
          </td>
        </tr>
        <% no++; %>
        <% } %>
      </tbody>
    </table>
    <br>

    <a type="button" href="/admin/classroom" class="btn btn-info">
      <i class="bi bi-arrow-left"></i>
      Back to Classroom Index
    </a>
  </div>

</main>
<%- include('../../includes/end.ejs') %>