<%- include('../../includes/head.ejs') %>
  <style>
    body{
      background-color: #f9f7f4;
    }
  </style>
</head>

<%- include('../../includes/adminNav.ejs') %>
<% // begin varaiable
let accounts = data.accounts; %>
<main>
  <div class="container">
    <br>
    <br>
    <div>
      <h1 class="display-4">
        Accounts
      </h1>
    </div>
    <br>

    <div>
      <a class="btn btn-dark" href="/admin/account/add">
        <i class="bi bi-plus"></i>
        Add
      </a>
    </div>
    <br>

    <%- include('../../includes/error.ejs') %>

    <table class="table table-hover">
      <thead class="thead" style="background-color: #acb2c7">
        <tr>
          <th scope="col">
            No.
          </th>

          <th scope="col">
            Username
          </th>

          <th scope="col">
            Role
          </th>

          <th scope="col">
            Fullname
          </th>

          <th scope="col">
            Gender
          </th>

          <th scope="col">
            Dob
          </th>

          <th scope="col">
            Mobile
          </th>

          <th scope="col">
            Address
          </th>

          <th scope="col">
            Status
          </th>
          
          <th scope="col">
            &nbsp;
          </th>
          
          <th scope="col">
            &nbsp;
          </th>
          
          <th scope="col">
            &nbsp;
          </th>
          
          <th scope="col">
            &nbsp;
          </th>
        </tr>
      </thead>

      <tbody>
        <% let no = 1; %>
          <% for(let account of accounts) { 
            let info = account.info_account; %>
            <tr>
              <td>
                <%= no %>
              </td>

              <td>
                <%= account.username %>
              </td>

              <td>
                <%= account.role.name %>
              </td>
              
              <% if(info){ %>
                <td>
                  <%= info.full_name ? info.full_name : 'No Infomation' %>
                </td>
                
                <td>
                  <% switch(info.gender){ 
                    case 1: %>
                      <%= 'Male' %>
                      <% break; %>
                    <% case 2: %>
                      <%= 'Female' %>
                      <% break; %>
                    <% default: %>
                      <%= 'Other' %>
                      <% break; %>
                  <% } %>
                </td>
                
                <td>
                  <%= info.dob ? info.dob : 'No Infomation' %>
                </td>
                
                <td>
                  <%= info.mobile ? info.mobile : 'No Infomation' %>
                </td>
                
                <td>
                  <%= info.address ? info.address : 'No Infomation' %>
                </td>
              <% } else { %>
                <td>No Infomation</td>

                <td>No Infomation</td>

                <td>No Infomation</td>

                <td>No Infomation</td>

                <td>No Infomation</td>
              <% } %>
              
              <td>
                <% switch(account.status) { 
                  case 0: %>
                <%= 'Inactive' %>
                  <% break;
                  case 1: %>
                <%= 'Active' %>
                  <% break;
                }%>
              </td>

              <td>
                <a class="btn btn-outline-info" href="/admin/account/show?accountId=<%= account.id %>">
                  Details
                </a>
              </td>
              
              <td>
                <a class="btn btn-outline-primary" href="/admin/account/edit?accountId=<%= account.id %>">
                  Edit
                </a>
              </td>
              
              <td>
                <form action="/admin/account/active?accountId=<%= account.id %>" method="post">
                  <button class="btn btn-outline-success" type="submit">
                    Active
                  </button>
                </form>
              </td>

              <td>
                <form action="/admin/account/inactive?accountId=<%= account.id %>" method="post">
                  <button class="btn btn-outline-danger" type="submit">
                    Inactive
                  </button>
                </form>
              </td>
            </tr>
          <% no++; %>
        <% } %>
      </tbody>
    </table>
    <br>
  </div>

</main>
<%- include('../../includes/end.ejs') %>