<header class="">
  <nav class="navbar navbar-expand-lg navbar-dark bd-navbar bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        Student
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>

      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <%= data.path === '/todolist' ? 'active' : '' %>" aria-current="page"
              href="/student/todolist">
              To Do List
            </a>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= data.path === '/classroom' ? 'active' : '' %>" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Classrooms
            </a>
            
            <ul class="dropdown-menu">
              <% for(let c of classrooms){ %>
                <li>
                  <a class="dropdown-item <%= data.classroom && data.classroom.id == c.id ? 'active' : '' %>"
                    href="/student/classroom?classroomId=<%= c.id %>">
                    <%= c.name %>
                  </a>
                </li>
              <% } %>
            </ul>
          </li>
        </ul>

        <form class="d-flex" action="/auth/signout" method="post">
          <button class="btn btn-outline-success" type="submit">
            <i class="bi bi-power"></i>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>

<body>